* {
    font-family: "Meera Inimai", sans-serif;
    font-family: "K2D", sans-serif;
  }
  
  .main-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 2rem;
  }
  
  h1 {
    width: 100%;
    margin-top: 5%;
    position: absolute;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    z-index: 1;
  }
  h1 {
    color: white;
  }
  .clock {
    width: 100%;
    position: absolute;
    font-size: 2vw;
    color: black;
    text-align: center;
    margin-top: 10%;
    color: white;
  }
  
  .bg-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .img-main {
    filter: grayscale(70%);
    width: 100%;
    height: 90vh;
  }
  
  /* border homepage */
  .box-center {
    position: absolute;
    width: 60%;
    height: 50vh;
    border: 10px solid #fff;
    z-index: 1;
    left: 20%;
    margin-top: 10rem;
    backdrop-filter: blur(3px);
    background-color: rgba(255,255,255 ,0.4);
    text-align: center;
  }
  
  .welcome-home {
    position: absolute;
    top: 20%;
    width: 100%;
    padding: auto;
    font-size: 75px;
  }
  
  .time-home {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    width: 100%;
  }
  
  @media (max-width: 1750px) {
    .welcome-home {
      font-size: 50px;
    }
    .time-home {
      font-size: 50px;
    }
    .box-center {
      height: 40vh;
  }
  }
  
  @media (max-width: 1200px) {
    .welcome-home {
      font-size: 35px;
    }
    .time-home {
      font-size: 35px;
    }
    .box-center {
      height: 30vh;
  }
  }
  
  @media (max-width: 800px) {
    .welcome-home {
      font-size: 25px;
    }
    .time-home {
      font-size: 25px;
    }
    .box-center {
      height: 30vh;
  }
  }
  