* {
  font-family: "Meera Inimai", sans-serif;
  font-family: "K2D", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.navbar.navbar-dark .navbar-toggler-icon {
  
  width: 30px;
  height: 30px;

} */

@media (max-width: 994px) {
  /* profile image */
  .rounded-circle {
    display: none !important;
  }
}

.subnav {
  position: relative !important;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  align-items: left !important;
  justify-content: flex-start !important;
}

@media (max-width: 575px) {
  .subnav {
    position: relative !important;
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 800px) {
  .MuiGrid-container {
    width: 100%;
    display: contents !important;
    flex-wrap: wrap !important;
    box-sizing: border-box;
  }
}

.rounded-circle {
  border-radius: 100% !important;
  width: 50px;
  height: 50px;
}